**.pth
mels/**
__pycache__/**
node_modules/**
tmp_wav/**
package-lock.json
**.log
**.pck
**.ckpt
**.wav
inspect_recording.ipynb
base_transcripts.txt
**.npy
**/data/**
**/data_original/**
**.pyc
transcriptions.txt
episode*.json
openai_api_key.txt
vocabularies/voc_*.txt
vocabularies/vocabularies.json
vocabularies/whisper_specialist_decoder*.json
